* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:focus {
   outline: none;
}

a {
   text-decoration: none !important;
}

body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 15px;
   -webkit-font-smoothing: antialiased;
   overflow-x: hidden !important;
}

input,
select {
   -webkit-appearance: none;
}

a {
   text-decoration: none;
   color: inherit;

   &:hover,
   &:focus,
   &:visited {
      text-decoration: none;
      color: inherit;
   }
}

h1,
h2,
h3,
h4,
h5,
p,
b,
i {
   margin: 0;
}

textarea {
   resize: none;
}
